@model IEnumerable<RazerMasterLibrary.Models.Coupons>

@{
    ViewBag.Title = "Index";
}

<!-- content Start -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Coupon Management</strong>
                    </div>

                    <div class="card-body">
                        <a class="btn btn-success m-3" href="@Url.Action("Create")" role="button">
                            <i class="fa fa-plus"></i>&nbsp;
                            Create
                        </a>
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    @*<th>@Html.DisplayNameFor(model => model.CouponID)</th>*@
                                    <th>@Html.DisplayNameFor(model => model.Code)</th>
                                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                                    <th>@Html.DisplayNameFor(model => model.Discount)</th>
                                    <th>@Html.DisplayNameFor(model => model.MinOrderSubtotal)</th>
                                    <th>@Html.DisplayNameFor(model => model.StartTime)</th>
                                    <th>@Html.DisplayNameFor(model => model.EndTime)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>@Html.DisplayFor(modelItem => item.CouponID)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                        @if (item.Is_Fixed)
                                        {
                                            <td>
                                                <span>$</span>
                                                @Html.DisplayFor(modelItem => item.Discount)
                                            </td>

                                        }
                                        else
                                        {
                                            <td>
                                                @Convert.ToInt32(Html.Raw(Html.DisplayFor(modelItem => item.Discount)).ToString().AsDecimal())
                                                <span>%</span>
                                            </td>
                                        }
                                        <td>@Html.DisplayFor(modelItem => item.MinOrderSubtotal)</td>
                                        <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <a href="@Url.Action("Edit","Coupon",new { id=item.Code})" class="btn btn-primary">
                                                    <i class="fa fa-magic"></i>&nbsp;Edit
                                                </a>
                                                <a href="@Url.Action("Delete","Coupon",new { id=item.Code})" class="btn btn-danger">
                                                    <i class="ti-trash"></i>&nbsp;Close
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div>
<!-- content Start -->


@section topCSS{
    <link href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />
}
@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: message,
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }

    <script src="~/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table').DataTable({
                "columnDefs": [{//設定第3,5欄不要排序
                    targets: [3, 5],
                    orderable: false
                }]
            });
        });

    </script>
}
